# Node.js / React
/client/node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc

# Virtual Environment
/venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Environment variables
.env
